/*Personalizacion del index*/
body{
    background-color:bisque;
    color:azure;
    margin: 0%;
}
h1{
    color:rgb(0, 0, 0);
    background-color: rgba(134, 100, 58, 0.725);
}
/*Personalizacion del menu */
#FUTBOL{
    width: 69%;
    margin: 5%;
    margin-left: 15%;

    background-color: rgb(221, 175, 118);
    border-style: dashed;
    border-width: 3px;

}
.plato{
    width: 90%;
}
.foto{
    width: 30%;
    margin: 1.5%;
    display: inline-block;
    vertical-align: middle;
}
img{
    width: 100%;
}
.fotogrande{
    width: 30%;
}
.texto{
    width: 60%;
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}
#boton1{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgba(134, 100, 58, 0.725),rgb(219, 221, 118));
    text-decoration: none;
}
#boton1:hover {
    background:linear-gradient(rgb(219, 221, 118),rgba(134, 100, 58, 0.725));
}
#boton2{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgba(134, 100, 58, 0.725),rgb(219, 221, 118));
    text-decoration: none;
}
#boton2:hover {
    background:linear-gradient(rgb(219, 221, 118),rgba(134, 100, 58, 0.725));
}
#boton3{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgba(134, 100, 58, 0.725),rgb(219, 221, 118));
    text-decoration: none;
}
#boton3:hover {
    background:linear-gradient(rgb(219, 221, 118),rgba(134, 100, 58, 0.725));
}
#boton4{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgba(134, 100, 58, 0.725),rgb(219, 221, 118));
    text-decoration: none;
}
#boton4:hover {
    background:linear-gradient(rgb(219, 221, 118),rgba(134, 100, 58, 0.725));
}
#boton5{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgb(219, 221, 118),rgba(134, 100, 58, 0.725));
    text-decoration: none;
}
#boton5:hover {
    background:linear-gradient(rgba(134, 100, 58, 0.725),rgb(219, 221, 118));
}
