/*Personalizacion del index*/
body{
    background-color: rgb(243, 210, 254);
    color: rgb(247, 243, 242);
    margin: 0%;
}
h1{
    color: rgb(255, 255, 255);
    background-color: #8254cc;
}
/*Personalizacion del menu */
#bebidas{

    float: right;
    width: 20%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0%;
    padding: 2%;
    border-style: dashed;
    border-width: 3px;

    background-color: rgba(137, 43, 226, 0.396);
    }
#comidas{
    width: 60%;
    margin: 5%;
    float: left;
    background-color: rgba(137, 43, 226, 0.397);
    border-style: dashed;
    border-width: 3px;

}
.plato{
    width: 90%;
}
.botella{
    width: 90%;
}
.foto{
    width: 20%;
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}
img{
    width: 100%;
}
.texto{
    width: 60%;
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}
.precio{
    width: 15%;
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}
#boton1{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color: aliceblue;
    border-color: rgba(137, 48, 221, 0.396); 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(#702fd8,#9b17c0);
    text-decoration: none;
}
#boton1:hover {
    background:linear-gradient(#9b17c0,#702fd8 ) ;
}